<strong>Project Name</strong>: Online Mp3 Music Library

</br></br><strong>Description</strong> : Music Lib is Online Mp3 songs gallary. Whewre you can find mp3 song.

You can listen online song without any cost. It is free of cost

If you want dounload any music file then you need to login in to your account and click on dounload link.
click on login tab to free download
If you do not have account then dont mind. you can register on Music Library site without any subscription. It all Free!
Click on Sign Up tab for resister your account

We have organise many saong event that's why we are maintain member account for sending mail to our member with event details.
so you need to only your name and mail id for register your membership on our site

</br></br><strong>Technology</strong>: PHP5, HTML, CSS, JS, JQUERY, BOOTSTRAP, MYSQL

</br></br><strong>Development Tool</strong> : NetBeans

</br></br><strong>Version</strong> : 1.0
<h3><strong>Technical description:</strong></h3>
-<strong>User Can create Account</strong>

Validation( Server site and client site):
<ul style="box-sizing: border-box; margin-top: 0px; margin-bottom: 10px; color: #333333; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: 20px; orphans: auto; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: #ffffff;">
	<li style="box-sizing: border-box;">Name must be filled out</li>
	<li style="box-sizing: border-box;">Name can only contain alphanumeric characters and hypehns(-)</li>
	<li style="box-sizing: border-box;">Password between 6 to 20 characters which contain at least one numeric digit, one uppercase and one lowercase letter</li>
	<li style="box-sizing: border-box;">Upload Image. image file should be only in png,jpg,jpeg format</li>
	<li style="box-sizing: border-box;">* Indicate Compalsary field.</li>
	<li style="box-sizing: border-box;">Duplicate email not allow</li>
</ul>
<strong>-User Login</strong>
<ul>
	<li>User login using email and password field</li>
	<li>Check Valid User or not</li>
</ul>
<strong>-MP3 song list</strong>
<ul>
	<li>User can listen song without login.</li>
	<li>list display on home page</li>
	<li>For download required login</li>
</ul>
<strong>-Contact us Page</strong>
<ul>
	<li>Show address and map according to map(you can edit)</li>
	<li>Contact us form:</li>
	<li>User can send mail to admin</li>
	<li>Email validation</li>
</ul>
<strong>-Profile Page</strong>
<ul>
	<li>User can change password(validation)</li>
	<li>User can edit profile</li>
	<li>user can upload mp3 file</li>
	<li>Paypal integration: User can donate</li>
	<li>User can View profile.</li>
</ul>
<strong>-Forgot Password</strong>
<ul>
	<li>Password link send on user mail</li>
	<li>check valid user</li>
	<li>Link is valid only 24hr and it is one time use url</li>
</ul>
<strong>-Added .htaccess file for security</strong>
<ul>
	<li>No one can access file directly using url.</li>
	<li>Hide directory listing</li>
	<li>Set home page</li>
	<li>Not Found Page: if user enter invalid page url it goes to Not Found Page</li>
	<li></li>
</ul>
<h2><strong>Setup</strong></h2>
<ul>
	<li>Add project on your www/htdocs directory</li>
	<li>Create new database(musicmasti)</li>
	<li>import musicmasti.sql file or create user table.</li>
	<li>enter url http://localhost/musiclib/musiclib.php or http://localhost/musiclib</li>
</ul>
&nbsp;

&nbsp;

&nbsp;