/* 
    Document   : style
    Created on : Jul 23, 2014, 11:19:43 AM
    Author     : prashant
    Description:
        Purpose of the stylesheet follows.
*/

 .divtabel > div {
  display: inline-block;
}
#map_canvas { height: 275px; width:330px; }
    .carousel-inner {
    height: 281px;
    margin-left: auto;
    margin-right: auto;
    width: 980px;
}
.logo_title {
        margin-left: auto;
    margin-right: auto;
    width: 980px;
}
.footer {
        margin-left: auto;
    margin-right: auto;
    width: 980px;
}

input[type=text]
{
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  width:200px;
  min-height: 28px;
  padding: 4px 20px 4px 8px;
  font-size: 12px;
  -moz-transition: all .2s linear;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}
input[type=text]:focus
{
  width: 250px;
  border-color: #51a7e8;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1),0 0 5px rgba(81,167,232,0.5);
  outline: none;
}
.logo_title {
    background: none repeat scroll 0 0 #DFF0D8;
    height: 75px;
    margin-top: -20px;
    width: 980px;
}
.footer {
    background: none repeat scroll 0 0 #8892BF;

    width: 980px;
}
.content {
        margin-left: auto;
    margin-right: auto;
    width: 980px;
    height:auto;
}
.carousel-caption {
  bottom: 344px !important;

}
.carousel-control {
    background:none !important;
}
.adminbar {
    background: none repeat scroll 0 0 #000000;
    color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
    width: 980px;
}
/* for password change */

label{
font-family:Arial;
font-size:14px;
color:#999999;
}
.tblSaveForm {
border-top:2px #999999 solid;
background-color: #f8f8f8;
}
.tableheader {
background-color: #fedc4d;
}
.btnSubmit {
background-color:#fd9512;
padding:5px;
border-color:#FF6600;
border-radius:4px;
color:white;
}
.message {
color: #FF0000;
text-align: center;
width: 100%;
}
.txtField {
padding: 5px;
border:#fedc4d 1px solid;
border-radius:4px;
}
.required {
color: #FF0000;
font-size:11px;
padding-left:10px;
}
/* end PW change */